* {
  box-sizing: border-box;
  font-family: Roboto Slab, Arial, sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

*:focus, button:focus, button {
  outline: none;
}

html,
body {
  height: 100%;
  position: relative;
}

.App {
  text-align: center;
  display: block;
}

/*-----------------------------------------
    Center
-----------------------------------------*/
.center {
  margin: 0 auto;
  /* margin-top: 150px; */
}

/*-----------------------------------------
    FORM STYLES
-----------------------------------------*/
select, input[type="text"], input[type="Date"], input[type="password"], input[type="number"], .select-dropdown {  
  width: 30%;
  padding: 8px;
  margin: 0 10px 10px 10px;
  border: 1px solid rgb(128, 127, 127);
  /* border-radius: 4px; */
  font-size: 17px;
}

.sched-time { margin: 40px 5px 0px 0px; }
.sched-time:hover, .time-label { cursor: pointer; }

/*input and button styles*/
button, input[type="button"], input[type="submit"] {
  border: 1px solid #4d7a99;
  /* border-radius: 5%; */
  padding: 15px 60px;
  background-color: #6baad4;
  color: #fff;  
  font-size: 20px;
  /* margin: 20px; */
}
/*on button hover*/
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #559ecf;
  cursor: pointer;
}

select:hover {cursor: pointer;}

/*align input boxes*/
label{
  display: inline-block;
  clear: left;
  width: 250px;
  margin: 5px 5px;
  text-align: right;
}
input, select {
  display: inline-block;
}

.select-dropdown {
  margin: 20px 10px;
  width: 20%;
}

/*-----------------------------------------
          centering table
-----------------------------------------*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}

/*-----------------------------------------
          HOME LOGIN
-----------------------------------------*/
.home-login {
  position: relative;
  height: 300px;
  font-size: 25px;
}

.home-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*style input from home form*/
.home-form input { border-color: rgb(33, 128, 33); }

/*-----------------------------------------
          DEPARTMENTS
-----------------------------------------*/
/*convert button to links*/
.link-style-btn {
  background-color: transparent;
  font-size: 17px;
  color: rgb(16, 89, 156);
  text-decoration: underline;
  border: none;  
  padding: 0;
  margin: 15px 55px;
}
.link-style-btn:hover {
  background-color: transparent;
  color: rgb(13, 63, 110);
}

.depts-lnk {
  margin: 70px 50px;
}

.departments-heading {
  color: rgb(12, 60, 105);
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 50px;
}

.depts-main {
  margin: 100px;
}

/*-----------------------------------------
        STUDENT DIRECTORY STYLE
-----------------------------------------*/
li {
  list-style-type: none;
}
.name-lst {
  font-size: 25px;
  text-align: center;
}
.home-icon {font-size: 25px;}
.dir {margin-top: 70px;}


/*-----------------------------------------
        ERROR MESSAGE STYLE
-----------------------------------------*/
.error-msg {
  color: rgb(187, 46, 46);
  font-weight: 300;
  font-size: 20px;
}

/*-----------------------------------------
        REGISTER STYLE
-----------------------------------------*/

.to-left { 
  /* float: left; margin: 10px 0px; */
  text-align: left;
}
.to-right{text-align: right;}

.action-form {
  margin: 50px 0px;
}

.back-btn {
  font-size: 25px;
  margin: 20px 0 0 20px;
}

.add-sched-btn {
  padding: 5px 2px;
  margin: 15px;
  border-radius: 50%;  
  box-shadow: 2px 2px 5px rgb(184, 183, 183);
}
.add-icon, .rem-icon {
  font-size: 30px;
  margin-right: 10px;  
  color: rgb(128, 50, 50);  
  padding: 2px 1px 1px 10px;
}
.rem-sched-btn {
  background-color: transparent;  
  border: none;
  padding: 0;
}
.rem-sched-btn:hover, .rem-icon:hover {
  background-color: transparent;
  color: rgb(107, 43, 43); 
}

.register-btn {
  background-color: rgb(130, 173, 130);
  border: 1px solid rgb(127, 143, 127);
  color: rgb(68, 32, 32);
  margin: 35px 0;
}
.register-btn:hover {background-color: rgb(150, 190, 150);}
.person-icon {
  margin-right: 10px;
  font-size: 18px;
  color: rgb(68, 32, 32);
}
.reg-per-icon {
  margin-right: 15px;
  font-size: 30px;
  color: rgb(68, 32, 32);
}


/*-----------------------------------------
        STUDENT INFO STYLE
-----------------------------------------*/

.student-info {
  text-align: initial;
  margin: 20px 10px 20px 50px;
}
img, .no-img { 
  float: left;
  margin: 50px 50px 10px 0px;
}
.student-stuff {
  margin-top: 50px;
}
.bord {
  display: inline-block;
  border: 1px solid rgb(37, 37, 207);
  padding: 8px;
  width: 60%;
  margin: 3px;
}
.studtab-secs {
  text-align: center;
  margin-top: 50px;
}
.sc {text-align: center;}
.grades-sec {
  margin-top: 50px;
}
.print-btn {
  padding: 10px 30px;
  margin-top: 20px;
  color: rgb(13, 80, 11);
}
.print-icon {
  font-size: 20px;
  margin-right: 10px;
}
.transcript-btn {
  padding: 10px 30px;
  margin-right: 190px;  
  color: rgb(71, 22, 22);
}